@import url("https://fonts.googleapis.com/css2?family=Itim&family=Leckerli+One&family=Pacifico&family=Patrick+Hand&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

[data-color-scheme="dark"] {
  color-scheme: dark;
}

[data-color-scheme="light"] {
  color-scheme: light;
}

body * {
  transition-property: background-color, border-color, opacity, box-shadow,
    transform, filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

* {
  scroll-margin-top: 130px;
  scroll-behavior: smooth;
}

body[data-aos-delay="4000"] [data-aos],
[data-aos][data-aos][data-aos-delay="4000"] {
  transition-delay: 4000ms;
}

body[data-aos-delay="3100"] [data-aos],
[data-aos][data-aos][data-aos-delay="3100"] {
  transition-delay: 3100ms;
}

body[data-aos-delay="3200"] [data-aos],
[data-aos][data-aos][data-aos-delay="3200"] {
  transition-delay: 3200ms;
}

body[data-aos-delay="3300"] [data-aos],
[data-aos][data-aos][data-aos-delay="3300"] {
  transition-delay: 3300ms;
}

body[data-aos-delay="3400"] [data-aos],
[data-aos][data-aos][data-aos-delay="3400"] {
  transition-delay: 3400ms;
}

body[data-aos-delay="3500"] [data-aos],
[data-aos][data-aos][data-aos-delay="3500"] {
  transition-delay: 3500ms;
}

body[data-aos-delay="3600"] [data-aos],
[data-aos][data-aos][data-aos-delay="3600"] {
  transition-delay: 3600ms;
}

button:disabled {
  opacity: 0.5;
  background: rgb(255, 255, 255);
  cursor: not-allowed;
  border-color: transparent;
  color: gray;
}

button:disabled:hover {
  border-color: transparent;
}

.contact-form textarea {
  min-height: 150px;
}

.contact-form input,
.contact-form textarea {
  border-radius: 8px;
  outline: none;
}
/*
.contact-form input:focus,
.contact-form textarea:focus,
.contact-form input:hover,
.contact-form textarea:hover,
.dark .contact-form input:hover,
.dark .contact-form textarea:hover,
.dark .contact-form input:focus,
.dark .contact-form textarea:focus { */
/* border-color: #a5b4fc; */

.contact-form input,
.dark .contact-form input,
.contact-form textarea,
.dark .contact-form textarea {
  box-shadow: inset 0 1px 2px 0px rgb(210, 226, 255);
  border: #a7c2e0 solid 1px;
  transition: 0.5s ease;
}

.navbar {
  scroll-behavior: smooth;
}

.navbar a {
  width: 100%;
  height: 100%;
}

.homepage {
  height: calc(100vh - 200px);
}

blockquote {
  padding: 20px 30px;
  background: #eef8ff;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-left: 4px solid blue;
  font-style: italic;
  font-size: 18px;
  width: 100%;
}

.img-preview-modal {
  padding: 20px;
  border: 1px solid black;
  position: absolute;
  height: 100%;
  max-height: 0vh;
  max-width: 90vw;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frontpage section {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark blockquote {
  background: #334155;
  border-left: 4px solid #a5b4fc;
}

blockquote p:first-of-type {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.project {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.comparison-slider {
  margin: 50px auto;
  width: auto;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.comparison-item {
  overflow: hidden;
}

.resume-btn {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 100px;
}

.resume-btn:hover {
  opacity: 0.9;
}

.resume-btn:active {
  box-shadow: none;
}

.comparison-item.top {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.comparison-item.top img {
  height: 100%;
  object-fit: cover;
}

.handle {
  position: absolute;
  width: 3px;
  height: 100%;
  background: white;
  z-index: 3;
  cursor: col-resize;
  top: 0;
}

.handle svg {
  display: block;
  position: absolute;
  top: calc(50% - 15px);
  right: calc(50% - 15px);
  height: 30px;
  width: 30px;
  background: white;
  border-radius: 8px;
  padding: 2px;
}

/* DEMO ONLY */
.photo-creds {
  position: absolute;
  text-align: right;
  right: 10px;
  bottom: 10px;
}

.photo-creds a {
  display: block;
}

.skills-row {
  width: 100%;
  padding: 0px;
  flex-wrap: wrap;
  display: flex;
  justify-content: start;
}

.skills-row i {
  font-size: 60px;
}

.skills-row img,
.skills-row i {
  filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, 0.548));
  width: 20px;
  font-size: 30px;
  /* height: 60px; */
  /* margin-bottom: 10px; */
}

.skills-row img.large {
  width: 200px;
}

.blog-post {
  width: 100%;
}

.content {
  width: 100%;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s ease;
}

.content p:first-of-type {
  margin-top: 0;
}

.content > img {
  border-radius: 8px;
  margin: 40px auto;
}

.content > img:first-of-type {
  border-radius: 8px;
  margin-bottom: 40px;
  margin-top: 0;
}

.content a,
.frontpage a {
  color: #4f4ef5;
}

.contact a {
  color: inherit;
  transition: 0.5s ease;
}

.contact a:hover {
  transition: 0.5s ease;
}

.dark .content a,
.dark .frontpage a {
  color: #a5b4fc;
}
.dark .contact a {
  color: inherit;
}

.content a:hover {
  text-decoration: underline;
}

.resume-btn {
  color: white !important;
}

.resume-link {
  display: block;
  width: fit-content;
}

.projects a,
.dark .projects a {
  color: inherit;
}

.quickfacts-div {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.quickfacts-div li {
  list-style-type: disc !important;
  margin-left: 20px;
  margin-bottom: 5px;
}

.quickfacts-list.open {
  visibility: visible;
  /* Set max-height to something bigger than the box could ever be */
  max-height: 600px;
}

.projects-dropdown {
  visibility: hidden;
  transition: visibility 0.5s ease, max-height 0.5s ease;
  max-height: 0;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.projects-dropdown.open {
  visibility: visible;
  max-height: 500px;
}

.quickfacts-list {
  visibility: hidden;
  transition: visibility 0.5s ease, max-height 0.5s ease;
  max-height: 0;
  overflow: hidden;
  width: 700px;
}

.inner-ul li {
  list-style-type: circle !important;
  padding-right: 50px;
}

.mobile-toc-scroll {
  /* max-height: calc(100vh - (109px)); */
  max-height: 200px;
  overflow-y: auto;
}

.categories-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 32px;
}

.schema-img {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 90%;
}

.category-box {
  background: white;
  padding: 32px;
  border-radius: 8px;
}

.projects {
  display: grid;
  margin: 0 auto;
  margin-top: 40px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 50px;
  padding: 10px;
}

.custom-video-player {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 40px auto;
}

.custom-video-player {
  width: fit-content;
}

.custom-video-player:hover .play-pause-btn,
.custom-video-player:hover .video-player-overlay {
  opacity: 1;
  transition: opacity 0.5s 0.5s;
}

.play-pause-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
  border-radius: 100%;
  padding: 0;
  color: rgb(255, 255, 255);
}

.play-pause-btn svg {
  border-radius: 100%;
  background: rgb(0, 0, 0);
  font-size: 110px;
}

.video-player-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.568);
  opacity: 1;
  transition: opacity 0.5s;
}

.overlay-fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.show-btn.play-pause-btn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.toc {
  position: sticky;
  top: calc(20px + 78px);
  /* max-height: calc(100vh - 148px); */
  overflow: hidden;
  /* padding-bottom: 16px; */
  border-radius: 8px;
}

.toc-ul {
  overflow-y: auto;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0,
    black var(--top-mask-size, 0),
    black calc(100% - var(--bottom-mask-size, 0)),
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0,
    black var(--top-mask-size, 0),
    black calc(100% - var(--bottom-mask-size, 0)),
    transparent 100%
  );
  --top-mask-size: 0px;
  --bottom-mask-size: 0px;
  padding-right: 10px;
}

.toc-ul.is-top-overflowing {
  --top-mask-size: 48px !important;
}

.toc-ul.is-bottom-overflowing {
  --bottom-mask-size: 48px !important;
}

.toc-ul::-webkit-scrollbar {
  width: 8px;
}

.toc-ul::-webkit-scrollbar-track {
  background: transparent;
}

.toc-ul::-webkit-scrollbar-thumb {
  background-color: #adadad;
  border-radius: 10px;
}

ul,
li {
  list-style-type: none;
}

ol li {
  margin-left: 30px;
  list-style-type: decimal;
  margin-top: 10px;
}

.project-ul li {
  margin-left: 30px;
  margin-top: 10px;
  list-style-type: disc;
}

li a {
  height: 100% !important;
  width: 100%;
  line-height: calc(1em + 0.725rem);
}

.content p {
  margin-top: 30px;
}

.content li > p {
  margin-top: 0;
}

.content ul,
.content li {
  list-style-type: disc;
}

.content ul {
  margin-bottom: 20px;
}

.content li {
  margin-left: 30px;
  margin-bottom: 5px;
}

.code-wrapper {
  position: relative;
  margin: 0 auto;
  background: inherit;
}

.remark-highlight {
  background: inherit;
}

.copy-button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 12px;
  position: absolute;
  top: -30px;
  right: 0;
}

.copy-button svg {
  width: 20px;
  margin-left: 5px;
}

.projects-dropdown {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.mobile-toc-scroll {
  visibility: hidden;
  transition: visibility 0.5s ease, max-height 0.5s ease;
  max-height: 0;
  overflow: auto;
}

.mobile-toc-scroll.open {
  visibility: visible;
  max-height: 50vh;
}

.mobile-toc li {
  list-style-type: none;
  margin-left: 0;
  font-size: 16px;
  margin-bottom: 0;
  line-height: calc(1em + 0.725rem);
  transition: color 500ms ease 0s;
}

.mobile-toc li > ul li {
  margin-left: 20px;
}

.mobile-toc li:hover {
  transition: color 0ms ease 0s;
}

.toc li {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
  line-height: calc(1em + 0.725rem);
  transition: color 500ms ease 0s;
}

.toc li > ul li {
  margin-left: 10px;
}

.toc li:hover {
  transition: color 0ms ease 0s;
}

@media (min-width: 1020px) {
  :target {
    scroll-margin-top: 90px;
  }
}

@media (max-width: 563px) {
  .categories-page {
    grid-template-columns: 1fr;
  }
}

@layer utilities {
  img,
  picture,
  video,
  canvas,
  svg {
    font: inherit;
  }

  #root,
  #__next {
    isolation: isolate;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing {
      @apply box-border;
    }
    -webkit-font-smoothing {
      @apply antialiased;
    }
  }
  * {
    margin {
      @apply m-0;
    }
  }
  html {
    scroll-behavior: smooth;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display {
      @apply block;
    }
    max-width {
      @apply max-w-full;
    }
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap {
      @apply break-words;
    }
  }

  h2 {
    font-size {
      @apply text-3xl;
    }
    font-weight {
      @apply font-bold;
    }
    color {
      @apply text-sky-700;
    }
  }

  h4 {
    font-size {
      @apply text-2xl;
    }

    font-weight {
      @apply font-bold;
    }
  }

  ul {
    list-style-type {
      @apply list-disc;
    }
  }
}

@media (min-width: 1024px) {
  .blog-post,
  .content {
    max-width: 688px;
    width: 100%;
  }
}
/*
@media (max-width: 420px) and (min-width: 1px) {
  .content {
    margin: 0 auto;
    width: calc(100vw - 50%);
    padding: 20px;
  }
} */

@media (max-width: 450px) {
  .projects {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* grid-gap: 80px; */
    padding: 0;
  }
}
